header
    script. 
        const username = '#{username}'
    div(class="site-header content")
        span(class="site-logo")
            h1
                a(href="/") Spotify helper
        span(class="header-links")
            a(href="/login") Login
            a(href="/register") Register