extends layout 

block head 
    link(rel="stylesheet", href="css/register.css")
    script(src="js/login.js" defer) 

    title Login 

block content 
    article(class="login-page content")
        form(class="register-form")
            label(for="username") Username or Email: 
            input(type="text", name="username")

            label(for="password") Password: 
            input(type="password", name="password")

            input(type="submit", value="Login")

            span(id="responseinfo")