extends layout 

block head 
    link(rel="stylesheet", href="css/register.css")
    script(src="js/login.js" defer) 

    title Login 

block content 
    article(class="login-page content")
        form(class="register-form")
            input(type="button", id="spotify-login-button", value="Log into Spotify")