extends layout 

block head 
    link(rel="stylesheet", href="css/register.css")
    script(src="js/register.js" defer) 

    title Register 

block content 
    article(class="register-page content")
        form(class="register-form")
            label(for="username") Username: 
            input(type="text", name="username")

            label(for="email") E-mail:
            input(type="email", name="email")

            label(for="password") Password: 
            input(type="password", name="password")

            input(type="submit", value="Register")

            span(id="responseinfo")