extends layout 

block head 
    link(rel="stylesheet", href="/css/user.css")
    script(src="/js/user.js" defer) 

    title Register 

block content 
    article(class="register-page content")
        h2 #{displayname}'s page
        div
            h5 Share a song!
            div 
                span(class="spotify-url-info")
                input(type="text", class="spotify-url-input", placeholder="Enter spotify url")
