extends layout 

block head 
    link(rel="stylesheet", href="/css/user.css")
    script(src="/js/user.js" defer) 

    title Register 

block content 
    article(class="register-page content")
        span= user.username
        a(href="/redirect/spotify") Da spotify link bish