header {padding: 2rem 4rem;

    background: #ccc;
}

.site-header {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.header-links {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

.header-links > * {
    padding: 0 0.2em;
}