.register-form {
    display: flex;

    flex-direction: column;
}

.register-form input {
    height: 2rem;
    width: 15rem;

    margin-bottom: 0.4rem;
    padding: 0.2rem 0.4rem;
}

.register-form input[type="submit"] {
    width: 6rem;
}