@import '../variables';

.chat {
    display: grid;
    grid-template-columns: 1fr 2fr;

    height: auto;

    padding: 0.5rem;

    &>article {
        display: flex;

        justify-content: center;
        align-content: flex-end;

        flex-wrap: wrap;
    }
}

.chat-input {
    display: grid;
    grid-template-columns: auto 10rem;
    gap: 0.5rem;

    margin-top: 1rem;

    width: 100%;

    & input {
        font-size: 14pt;
        font-weight: lighter;

        padding: 0.7rem;

        color: var(--darker-grey);
    }
}

.msg {
    padding: 1rem 1rem;

    border: 1px solid var(--medium-grey);

    &:not(:last-of-type) {
        border-bottom: none;
    }
}

.msg-list {
    width: 100%;
}